<textarea class="js-copyarea"></textarea>
<strong class="js-output" style="display: block; width: 100%; text-align: center; margin-botton: 20px;">&nbsp;</strong>
<div class="svg-list">
  <div class="svg-item svg-item--stroke">
    <svg><use xlink:href="/images/svgicons.svg#menu-alt" /></svg>
    <div class="svg-name js-svg-name">#menu-alt</div>
  </div>

  <div class="svg-item svg-item--stroke">
    <svg><use xlink:href="/images/svgicons.svg#folder" /></svg>
    <div class="svg-name js-svg-name">#folder</div>
  </div>

  <div class="svg-item svg-item--stroke">
    <svg><use xlink:href="/images/svgicons.svg#filter" /></svg>
    <div class="svg-name js-svg-name">#filter</div>
  </div>

  <div class="svg-item">
    <svg><use xlink:href="/images/svgicons.svg#select" /></svg>
    <div class="svg-name js-svg-name">#select</div>
  </div>

  <div class="svg-item">
    <svg><use xlink:href="/images/svgicons.svg#checkbox" /></svg>
    <div class="svg-name js-svg-name">#checkbox</div>
  </div>

  <div class="svg-item svg-item--stroke">
    <svg><use xlink:href="/images/svgicons.svg#breadcrumb-spacer" /></svg>
    <div class="svg-name js-svg-name">#breadcrumb-spacer</div>
  </div>

  <div class="svg-item">
    <svg><use xlink:href="/images/svgicons.svg#menu-dots" /></svg>
    <div class="svg-name js-svg-name">#menu-dots</div>
  </div>

  <div class="svg-item svg-item--stroke">
    <svg><use xlink:href="/images/svgicons.svg#menu-back" /></svg>
    <div class="svg-name js-svg-name">#menu-back</div>
  </div>

  <div class="svg-item svg-item--stroke">
    <svg><use xlink:href="/images/svgicons.svg#close" /></svg>
    <div class="svg-name js-svg-name">#close</div>
  </div>

  <div class="svg-item svg-item--stroke">
    <svg><use xlink:href="/images/svgicons.svg#menu" /></svg>
    <div class="svg-name js-svg-name">#menu</div>
  </div>

  <div class="svg-item svg-item--stroke">
    <svg><use xlink:href="/images/svgicons.svg#home-arrow" /></svg>
    <div class="svg-name js-svg-name">#home-arrow</div>
  </div>

  <div class="svg-item svg-item--stroke">
    <svg><use xlink:href="/images/svgicons.svg#arrows-right" /></svg>
    <div class="svg-name js-svg-name">#arrows-right</div>
  </div>

  <div class="svg-item svg-item--stroke">
    <svg><use xlink:href="/images/svgicons.svg#square-corner-down-right" /></svg>
    <div class="svg-name js-svg-name">#square-corner-down-right</div>
  </div>

  <div class="svg-item svg-item--stroke">
    <svg><use xlink:href="/images/svgicons.svg#square-corner-up-left" /></svg>
    <div class="svg-name js-svg-name">#square-corner-up-left</div>
  </div>

  <div class="svg-item">
    <svg><use xlink:href="/images/svgicons.svg#head-about-us" /></svg>
    <div class="svg-name js-svg-name">#head-about-us</div>
  </div>

  <div class="svg-item">
    <svg><use xlink:href="/images/svgicons.svg#head-blog" /></svg>
    <div class="svg-name js-svg-name">#head-blog</div>
  </div>

  <div class="svg-item">
    <svg><use xlink:href="/images/svgicons.svg#head-developers" /></svg>
    <div class="svg-name js-svg-name">#head-developers</div>
  </div>

  <div class="svg-item">
    <svg><use xlink:href="/images/svgicons.svg#head-email" /></svg>
    <div class="svg-name js-svg-name">#head-email</div>
  </div>

  <div class="svg-item">
    <svg><use xlink:href="/images/svgicons.svg#head-estate-agents" /></svg>
    <div class="svg-name js-svg-name">#head-estate-agents</div>
  </div>

  <div class="svg-item">
    <svg><use xlink:href="/images/svgicons.svg#head-finance" /></svg>
    <div class="svg-name js-svg-name">#head-finance</div>
  </div>

  <div class="svg-item">
    <svg><use xlink:href="/images/svgicons.svg#head-health" /></svg>
    <div class="svg-name js-svg-name">#head-health</div>
  </div>

  <div class="svg-item">
    <svg><use xlink:href="/images/svgicons.svg#head-hosting" /></svg>
    <div class="svg-name js-svg-name">#head-hosting</div>
  </div>

  <div class="svg-item">
    <svg><use xlink:href="/images/svgicons.svg#head-photography" /></svg>
    <div class="svg-name js-svg-name">#head-photography</div>
  </div>

  <div class="svg-item">
    <svg><use xlink:href="/images/svgicons.svg#head-print" /></svg>
    <div class="svg-name js-svg-name">#head-print</div>
  </div>

  <div class="svg-item">
    <svg><use xlink:href="/images/svgicons.svg#head-rates" /></svg>
    <div class="svg-name js-svg-name">#head-rates</div>
  </div>

  <div class="svg-item">
    <svg><use xlink:href="/images/svgicons.svg#head-seo" /></svg>
    <div class="svg-name js-svg-name">#head-seo</div>
  </div>

  <div class="svg-item">
    <svg><use xlink:href="/images/svgicons.svg#head-terms" /></svg>
    <div class="svg-name js-svg-name">#head-terms</div>
  </div>

  <div class="svg-item">
    <svg><use xlink:href="/images/svgicons.svg#head-travel" /></svg>
    <div class="svg-name js-svg-name">#head-travel</div>
  </div>

  <div class="svg-item">
    <svg><use xlink:href="/images/svgicons.svg#head-service" /></svg>
    <div class="svg-name js-svg-name">#head-service</div>
  </div>

  <div class="svg-item svg-item--stroke">
    <svg><use xlink:href="/images/svgicons.svg#circle-arrow-down" /></svg>
    <div class="svg-name js-svg-name">#circle-arrow-down</div>
  </div>

  <div class="svg-item">
    <svg><use xlink:href="/images/svgicons.svg#linkedin" /></svg>
    <div class="svg-name js-svg-name">#linkedin</div>
  </div>

  <div class="svg-item">
    <svg><use xlink:href="/images/svgicons.svg#phone" /></svg>
    <div class="svg-name js-svg-name">#phone</div>
  </div>

  <div class="svg-item">
    <svg><use xlink:href="/images/svgicons.svg#pinterest" /></svg>
    <div class="svg-name js-svg-name">#pinterest</div>
  </div>

  <div class="svg-item">
    <svg><use xlink:href="/images/svgicons.svg#send" /></svg>
    <div class="svg-name js-svg-name">#send</div>
  </div>

  <div class="svg-item">
    <svg><use xlink:href="/images/svgicons.svg#servondesign-word" /></svg>
    <div class="svg-name js-svg-name">#servondesign-word</div>
  </div>

  <div class="svg-item svg-item--stroke">
    <svg><use xlink:href="/images/svgicons.svg#arrow-down" /></svg>
    <div class="svg-name js-svg-name">#arrow-down</div>
  </div>

  <div class="svg-item">
    <svg><use xlink:href="/images/svgicons.svg#cta-book" /></svg>
    <div class="svg-name js-svg-name">#cta-book</div>
  </div>

  <div class="svg-item">
    <svg><use xlink:href="/images/svgicons.svg#cta-download" /></svg>
    <div class="svg-name js-svg-name">#cta-download</div>
  </div>

  <div class="svg-item">
    <svg><use xlink:href="/images/svgicons.svg#drop" /></svg>
    <div class="svg-name js-svg-name">#drop</div>
  </div>
</div>