<section class="l-page l-center about section--med" id="about">
	<h1>About</h1>
	<ul>
		<li>brief intro</li>
		<li>name, where i'm from, what i do, years experience (calc from date so i don't have to update)</li>
	</ul>
	<p>I'm a full stack developer currently based in hampshire, uk. I have a passion for front end development, building bespoke websites to meet customers' needs.</p>
</section>