<section class="l-page l-center about section--med" id="about">
	<h1>About</h1>
	<p>Highly skilled, conscientious and precise, quality focused Web Developer with high quality front end web development skills. BSc in Computer Science and 3 years’ commercial experience. Particularly skilled at working with clients to develop digital marketing strategies through web technologies and creating the best solution for them to build, analyse and push forward their business. Using appropriate development technologies and strategies for example open CMSs (Concrete5 or Wordpress), bespoke html, CSS and JavaScript to create responsive, performant SEO friendly websites to promote high rankings in search engine results pages.</p>
</section>
