.l-project-grid{
	display: flex;
	flex-wrap: wrap;
	max-width: 1440px;
	padding-left: 13px;
	padding-right: 13px;
	padding-bottom: 24px;

	> *{
		flex: 0 1 calc(100% - 26px);
		margin-left: 13px;
		margin-right: 13px;
		margin-bottom: 26px;

		@media (min-width: $sm){
			flex-basis: calc(50% - 26px);
		}

		@media (min-width: $md){
			flex-basis: calc(33.333% - 26px);
		}
	}
}

@supports (display: grid){
	.l-project-grid{
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 26px;
		padding-left: 25px;
		padding-right: 25px;
		padding-bottom: 50px;

		@media (min-width: $sm){
			grid-template-columns: repeat(2, 1fr);
		}

		@media (min-width: $md){
			grid-template-columns: repeat(3, 1fr);
		}

		> *{
			margin-left: 0;
			margin-right: 0;
			margin-bottom: 0;
		}
	}
}
