.section{
	&--light{
		background-color: #efefef;
	}

	&--med{
		background-color: #888;
	}

	&--dark{
		background-color: #3e3e3e;
		color: #eee;
	}

	&--dark.skills{
		background-image: linear-gradient(to right, #3e3e3e 50%, #fff 50%);
	}
}