<div class="colours">
	<div class="purple"></div>
	<div class="purple-light"></div>
	<div class="purple-pale"></div>
	<div class="purple-light-pale"></div>
	<div class="violet"></div>
	<div class="blue"></div>
	<div class="blue-light"></div>
	<div class="green-light"></div>
	<div class="grey"></div>
	<div class="grey-light"></div>
	<div class="grey-dark"></div>
	<div class="cyan"></div>
	<div class="black-purple"></div>
</div>

<div class="colours">
	<div class="section-grey"></div>
	<div class="section-grey-dark"></div>
	<div class="section-grey-light-title"></div>
	<div class="section-grey-title"></div>
	<div class="section-grey-dark-title"></div>
	<div class="section-grey-grad-dark"></div>
	<div class="section-grey-step-1"></div>
	<div class="section-grey-step-2"></div>
	<div class="section-grey-step-3"></div>
	<div class="section-grey-step-4"></div>
	<div class="section-grey-step-5"></div>
	<div class="section-grey-step-6"></div>
</div>
