.colours{
    .nested-container();
    .justify-content(space-between);
    div{
        width: 200px;
        height: 80px;
        margin-bottom: 10px;
        border: 1px solid;
        position: relative;
        &:after{
            content: 'test';
            position: absolute;
            bottom: 10px;
            left: 10px;
        }
    }
    div.text-color{
        background: @text-color;
        &:after{
            content: ~'"@text-color: ' @text-color ~'"';
            color: #fff;
        }
    }
}
