<div>
	<h1>skills</h1>
	<ul>
		<li>Have a para about the type of tech i use and have exprience with</li>
		<p>Maybe have a para about what i want to look into/start using</p>
		<p><small>like start using node and a backend instead of just for tooling</small></p>
	</ul>
</div>