<form action="#" class="pg-form" method="post">
    <div class="pg-form-column">
        <div class="pg-form-group">
            <div class="radio">
                <label>
                    1st choice <input type="radio" name="choice" value="first"><label></label>
                </label>
            </div>
            <div class="radio">
                <label>
                    2nd choice <input type="radio" name="choice" value="second"><label></label> 
                </label>
            </div>
        </div>

        <div class="pg-form-group">
            <div class="radio radio__disabled">
                <label>
                    1st choice <input type="radio" name="choice" value="first" disabled><label></label>
                </label>
            </div>
            <div class="radio radio__disabled">
                <label>
                    2nd choice <input type="radio" name="choice" value="second" disabled checked><label></label> 
                </label>
            </div>
        </div>
        
        <div class="pg-form-group">
            <div class="checkbox">
                <label>
                    1st choice <input type="checkbox" name="choice" value="first"><label></label> 
                </label>
            </div>
            <div class="checkbox">
                <label>
                    2nd choice <input type="checkbox" name="choice" value="second"><label></label> 
                </label>
            </div>
        </div>

        <div class="pg-form-group">
            <div class="checkbox checkbox__disabled">
                <label>
                    1st choice <input type="checkbox" name="choice" value="first" disabled><label></label> 
                </label>
            </div>
            <div class="checkbox checkbox__disabled">
                <label>
                    2nd choice <input type="checkbox" name="choice" value="second" disabled checked><label></label> 
                </label>
            </div>
        </div>

        <div class="pg-form-group">
            <div class="pg-form-select">
                <select name="sale" id="sale">
                    <option value="1">item 1</option>
                    <option value="2">item 2</option>
                    <option value="3">item 3</option>
                    <option value="4">item 4</option>
                    <option value="5">item 5</option> 
                </select>
            </div>
        </div>

        <div class="pg-form-group">
            <div class="pg-form-select pg-form-select__disabled">
                <select disabled name="sale" id="sale">
                    <option value="1">item 1</option>
                    <option value="2">item 2</option>
                    <option value="3">item 3</option>
                    <option value="4">item 4</option>
                    <option value="5">item 5</option> 
                </select>
            </div>
        </div>

        <div class="pg-form-group">
            <input type="text" placeholder="test">
        </div>

        <div class="pg-form-group">
            <input type="text" disabled placeholder="test">
        </div>

        <div class="pg-form-group">
            <button class="pg-form-btn btn">submit</button>
        </div>
    </div>
</form>

<form action="#" class="pg-form pg-form__inline" method="post">
    <div class="pg-form-group">
        <div class="radio">
            <label>
                1st choice <input type="radio" name="choice" value="first"><label></label>
            </label>
        </div>
        <div class="radio">
            <label>
                2nd choice <input type="radio" name="choice" value="second"><label></label> 
            </label>
        </div>
    </div>

    <div class="pg-form-group">
        <div class="radio radio__disabled">
            <label>
                1st choice <input type="radio" name="choice" value="first" disabled><label></label>
            </label>
        </div>
        <div class="radio radio__disabled">
            <label>
                2nd choice <input type="radio" name="choice" value="second" disabled checked><label></label> 
            </label>
        </div>
    </div>

    <div class="pg-form-group">
        <div class="checkbox">
            <label>
                1st choice <input type="checkbox" name="choice" value="first"><label></label> 
            </label>
        </div>
        <div class="checkbox">
            <label>
                2nd choice <input type="checkbox" name="choice" value="second"><label></label> 
            </label>
        </div>
    </div>

    <div class="pg-form-group">
        <div class="checkbox checkbox__disabled">
            <label>
                1st choice <input type="checkbox" name="choice" value="first" disabled><label></label> 
            </label>
        </div>
        <div class="checkbox checkbox__disabled">
            <label>
                2nd choice <input type="checkbox" name="choice" value="second" disabled checked><label></label> 
            </label>
        </div>
    </div>
</form>

<form action="#" class="pg-form pg-form__dark pg-form__inline" method="post">
    <div class="pg-form-group">
        <div class="pg-form-select">
            <select name="sale" id="sale">
                <option value="1">item 1</option>
                <option value="2">item 2</option>
                <option value="3">item 3</option>
                <option value="4">item 4</option>
                <option value="5">item 5</option> 
            </select>
        </div>
    </div>
    <div class="pg-form-group">
            <div class="pg-form-select pg-form-select__disabled">
                <select disabled name="sale" id="sale">
                    <option value="1">item 1</option>
                    <option value="2">item 2</option>
                    <option value="3">item 3</option>
                    <option value="4">item 4</option>
                    <option value="5">item 5</option> 
                </select>
            </div>
        </div>
    <div class="pg-form-group">
        <input type="text" placeholder="test">
    </div>
    <div class="pg-form-group">
            <input type="text" disabled placeholder="test">
        </div>
    <div class="pg-form-group">
        <button class="pg-form-btn btn">submit</button>
    </div>
</form>