<div class="ratio-test-container">
	<div class="ratio-21-7 ratio-test">
		<h1>21:7</h1>
	</div>
</div>

<div class="ratio-test-container">
	<div class="ratio-16-9 ratio-test">
		<h1>16:9</h1>
	</div>
</div>

<div class="ratio-test-container">
	<div class="ratio-3-2 ratio-test">
		<h1>3:2</h1>
	</div>
</div>

<div class="ratio-test-container">
	<div class="ratio-4-3 ratio-test">
		<h1>4:3</h1>
	</div>
</div>

<div class="ratio-test-container">
	<div class="ratio-1-1 ratio-test">
		<h1>1:1</h1>
	</div>
</div>
