<a href="{{linkUrl}}"{{#blank}} target="_blank"{{/blank}} class="o-btn {{classes}}">
	<div class="o-btn__background"></div>
	<div class="o-btn__hover-background"></div>
	<span class="o-btn__text">{{linkText}}</span>
</a>
