.c-about{
	padding-bottom: 50px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	@media (min-width: $sm){
		padding-bottom: 150px;
		padding-top: 25px;
		padding-left: 45px;
	}

	&__title{
		text-transform: uppercase;
		margin-bottom: 0.1em;
		margin-left: 10px;

		@media (min-width: $sm){
			display: inline-block;
			transform: translate(-64%, -100%) rotate(-90deg);
			transform-origin: right bottom;
			margin-bottom: 0.66em;
		}
	}

	&__content{
		position: relative;
		max-width: 650px;
		min-width: 300px;
		width: 80vw;
		margin-left: 0;
		padding-left: 40px;
		padding-right: 15px;
		background-color: rgba(136, 136, 136, 0.8);
		z-index: 1;
		color: $grey;

		@media (min-width: $sm){
			margin-left: 15vw;
		}

		@media (min-width: $xl){
			margin-left: 205px;
		}

		> *:last-child{
			margin-bottom: 0;
		}

		&::before{
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 15px;
			right: 15px;
			border-left: 2px solid $charcoal;
			opacity: 0.6;
		}

		&::after{
			content: '';
			position: absolute;
			left: 19px;
			top: 0;
			width: 5px;
			height: 100%;
			background-color: $charcoal;
			opacity: 0.6;
		}
	}
}
