<div class="slider">
	<div class="slide__track">
		<div class="slide">
			<h1>a</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus reiciendis debitis magnam fugit quas earum voluptate incidunt iste ducimus dignissimos repudiandae est architecto, ea praesentium ipsa, nemo enim illo. Reiciendis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis quasi veritatis architecto deleniti doloribus, voluptatem eligendi, porro qui ad exercitationem ipsam molestiae similique quam laudantium consequuntur omnis. Iste itaque, voluptates!</p>
		</div>
		<div class="slide">
			<h1>b</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus reiciendis debitis magnam fugit quas earum voluptate incidunt iste ducimus dignissimos repudiandae est architecto, ea praesentium ipsa, nemo enim illo. Reiciendis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore placeat perferendis, quod aspernatur incidunt labore sit illo officiis maiores repellat obcaecati maxime illum facere tempora, corporis aliquid. Maxime, neque, mollitia.</p>
		</div>
	</div>
</div>