<footer class="c-links c-section--dark c-section--left-stripe-light" id="links">
	<h1 class="c-links__title o-title o-title--small o-title--vertical o-title--light">Links</h1>
	<nav class="c-links__list">
		<ul>
			<li>
				<a href="#linkedin">LinkedIn</a>
			</li>
			<li>
				<a href="#github">Github</a>
			</li>
			<li>
				<a href="email:tom@tom-hopkins.co.uk">tom@tom-hopkins.co.uk</a>
			</li>
		</ul>
	</nav>
</footer>
