<footer class="l-page l-center section--light" id="links">
	<h1>Links</h1>
	<ul>
		<li>github</li>
		<li>email</li>
		<li>maybe some github list of websites and people i follow</li>
		<li>maybe a github wiki page about how i made the site</li>
		<li>pointing out a few design decisions and where i got inspiration etc.</li>
	</ul>
</footer>