<div class="c-media-item">
	<header class="c-media-item__head">
		<div class="c-media-item__title">{{title}}</div>
	</header>
	<main class="c-media-item__body">
		<div class="c-media-item__image-wrap">
			<div class="c-media-item__image">
				<img src="{{imagePath}}" alt="{{title}}">
			</div>
		</div>
		<div class="c-media-item__content">
			{{#description}}
			<div class="c-media-item__description">
				{{description}}
			</div>
			{{/description}}
			<div class="c-media-item__links">
				{{#links}}
				{{> elements-button1}}
				{{/links}}
			</div>
		</div>
	</main>
</div>
