<section class="c-projects c-section--grid c-section--border" id="projects">
	<h1>project</h1>
	<div class="project-grid">
		{{#projects}}
		{{> projects-project-item}}
		{{/projects}}
	</div>
</section>
