<div class="project-item">
	<div class="project-item__title">{{title}}</div>
	<div class="project-item__image">
		<img src="{{imagePath}}" alt="{{title}}">
	</div>
	{{#description}}
	<div class="project-item__description">
		{{description}}
	</div>
	{{/description}}
	<div class="project-item__links">
		{{#linkUrl}}<a href="{{linkUrl}}" class="project-item__link-btn">{{linkText}}</a>{{/linkUrl}}
		{{#link2Url}}<a href="{{link2Url}}" class="project-item__link-btn">{{link2Text}}</a>{{/link2Url}}
	</div>
</div>
