<section class="c-projects c-section--grid c-section--border" id="projects">
	<h1 class="c-projects__title o-title o-title--small">projects</h1>
	<div class="l-project-grid">
		{{#projects}}
		{{> projects-media-item}}
		{{/projects}}
	</div>
</section>
