<div class="animation animation-fade">Fade</div>
<div class="animation animation-movement">
	movement
	<div class="animation-movement-bar"></div>
</div>

<h2>user interaction animation rules</h2>

<h3>Timings</h3>
<p>in at 400ms <small>In with smooth slow initial anim but still snappy</small></p>
<p>out at 250ms <small>Out with quick snappy animation but still showing a close anim</small></p>

<h3>Easing</h3>
<p>Currently an easeOut cubic-bezier(0.3, 0.15, 0.18, 1)</p>

<h2>Styles</h2>

<p>try to keep the idea of morphing from one item to another</p>
<p>allows the user to feel like there is a response to thier action and they can undo thier action easily</p>
<p><a href="http://tympanus.net/Development/ButtonComponentMorph/index2.html">example</a></p>
