<div class="font font-norm font-100">font normal 100</div>
<div class="font font-italic font-100">font italic 100</div>
<div class="font font-norm font-200">font normal 200</div>
<div class="font font-italic font-200">font italic 200</div>
<div class="font font-norm font-300">font normal 300</div>
<div class="font font-italic font-300">font italic 300</div>
<div class="font font-norm font-400">font normal 400</div>
<div class="font font-italic font-400">font italic 400</div>
<div class="font font-norm font-500">font normal 500</div>
<div class="font font-italic font-500">font italic 500</div>
<div class="font font-norm font-600">font normal 600</div>
<div class="font font-italic font-600">font italic 600</div>
<div class="font font-norm font-700">font normal 700</div>
<div class="font font-italic font-700">font italic 700</div>
<div class="font font-norm font-800">font normal 800</div>
<div class="font font-italic font-800">font italic 800</div>
<div class="font font-norm font-900">font normal 900</div>
<div class="font font-italic font-900">font italic 900</div>

<div class="font-serif font-norm font-100">font normal 100</div>
<div class="font-serif font-italic font-100">font italic 100</div>
<div class="font-serif font-norm font-200">font normal 200</div>
<div class="font-serif font-italic font-200">font italic 200</div>
<div class="font-serif font-norm font-300">font normal 300</div>
<div class="font-serif font-italic font-300">font italic 300</div>
<div class="font-serif font-norm font-400">font normal 400</div>
<div class="font-serif font-italic font-400">font italic 400</div>
<div class="font-serif font-norm font-500">font normal 500</div>
<div class="font-serif font-italic font-500">font italic 500</div>
<div class="font-serif font-norm font-600">font normal 600</div>
<div class="font-serif font-italic font-600">font italic 600</div>
<div class="font-serif font-norm font-700">font normal 700</div>
<div class="font-serif font-italic font-700">font italic 700</div>
<div class="font-serif font-norm font-800">font normal 800</div>
<div class="font-serif font-italic font-800">font italic 800</div>
<div class="font-serif font-norm font-900">font normal 900</div>
<div class="font-serif font-italic font-900">font italic 900</div>