<p><a href="#">text link</a></p>
<p><strong>strong text</strong></p>
<p><em>emphasis test</em></p>
<p>the <b>b element</b> in text</p>
<p>the <i>i element</i> in text</p>
<p>the <u>u elmenet</u> in text</p>
<p><del>deleted text</del> vs <ins>inserted text</ins></p>
<p><s>strike through text</s></p>
<p>superscript in text <sup>2</sup></p>
<p>subscript in text <sub>2</sub></p>
<p><small>small text</small></p>
<p>abbreviation <abbr title="HyperText Markup Language">HTML</abbr></p>
<p>keyboard input <kbd>Cmd</kbd></p>
<p><q cite="http://www.servondesign.co.uk">Small inline quote</q></p>
<p><cite>citation text</cite></p>
<p>the <def>definition</def> element</p>
<p>the <mark>mark</mark> element</p>
<p><code>code text</code></p>
<p><samp>sample text</samp></p>
<p>the <var>variable</var> element <var>x</var>=<var>y</var></p>
<p><span class="purple">purple</span></p>
<p><span class="red">red</span></p>
<p><span class="blue">blue</span></p>
<p><span class="yellow">yellow</span></p>
<p><span class="grey-light">grey-light</span></p>
<p><span class="grey-dark">grey-dark</span></p>
