<div class="ratio-test-container">
	<div class="h-ratio--21by7 ratio-test">
		<h1>21:7</h1>
	</div>
</div>

<div class="ratio-test-container">
	<div class="h-ratio--16by9 ratio-test">
		<h1>16:9</h1>
	</div>
</div>

<div class="ratio-test-container">
	<div class="h-ratio--3by2 ratio-test">
		<h1>3:2</h1>
	</div>
</div>

<div class="ratio-test-container">
	<div class="h-ratio--4by3 ratio-test">
		<h1>4:3</h1>
	</div>
</div>

<div class="ratio-test-container">
	<div class="h-ratio--1by1 ratio-test">
		<h1>1:1</h1>
	</div>
</div>
