<header class="l-page l-center section--light">
	<h1>TomH</h1>
	<nav>
		<ul>
			<li><a href="#">about</a></li>
			<li><a href="#">Skills</a></li>
			<li><a href="#">projects</a></li>
			<li><a href="#">Links</a></li>
		</ul>
	</nav>
</header>

<main>
	<section class="l-page l-center section--med">
		<h1>About</h1>
		<ul>
			<li>brief intro</li>
			<li>name, where i'm from, what i do, years experience (calc from date so i don't have to update)</li>
		</ul>
		<p>I'm a full stack developer currently based in hampshire, uk. I have a passion for front end development, building bespoke websites to meet customers' needs.</p>
	</section>

	<section class="l-page l-center section--dark">
		<h1>skills</h1>
		<p></p>
		<ul>
			<li>Have a para about the type of tech i use and have exprience with</li>
			<p>Maybe have a para about what i want to look into/start using</p>
			<p><small>like start using node and a backend instead of just for tooling</small></p>
			<li>list of skills</li>
			<li>grouped by stack level??</li>
			<li>out of 5 with progress bars</li>
			<li>can see more information about each skill</li>
			<li></li>
			<li>Front end</li>
			<li>
				html 5/5
				<ul>
					<li>accessibility</li>
					<li>Semantic structure</li>
				</ul>
			</li>
			<li>
				css 5/5
				<ul>
					<li>preproccessor (less, sass)</li>
					<li>itcss, bem</li>
				</ul>
			</li>
			<li>
				js 5/5
				<ul>
					<li>plain js</li>
					<li>functional js</li>
					<li>es6</li>
				</ul>
			</li>
			<li>
				Tooling 4
				<ul>
					<li>gulp, webpack</li>
					<li>pattern lab</li>
					<li>node</li>
				</ul>
			</li>
		</ul>
	</section>

	<section class="l-page l-center section--light">
		<h1>project</h1>
		<ul>
			<li>a grid of projects i was involed in with a blurb that comes out when clicked on</li>
		</ul>
	</section>
</main>

<footer class="l-page l-center section--med">
	<h1>Links</h1>
	<ul>
		<li>github</li>
		<li>email</li>
		<li>maybe some github list of websites and people i follow</li>
	</ul>
</footer>