<header class="l-page l-center header section--light">
  <h1 class="header__title">TomH</h1>
  <nav class="header__nav">
    <ul class="header__nav-left">
      <li><a href="#about">about</a></li>
      <li><a href="#skills">Skills</a></li>
    </ul>
    <ul class="header__nav-right">
      <li><a href="#projects">projects</a></li>
      <li><a href="#links">Links</a></li>
    </ul>
  </nav>
</header>